{{ define "main" }}
<section>
  <h1 class="page-title">{{ .Title }}</h1>
  {{ with .Content }}<div class="prose">{{ . }}</div>{{ end }}

  {{ range .Pages.GroupByDate "2006" }}
    <h2 class="post-year">{{ .Key }}</h2>
    <ul class="post-list">
      {{ range .Pages }}
        <li>
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02 2006" }}</time>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</section>
{{ end }}
